[2018-12-06 20:36] hankjacobs opened #17 "Convert to TypeScript"
We should convert cloudworker to TypeScript for better type safety, it'll be more or less self-documenting, etc.

[2018-12-06 20:40] hankjacobs opened #18 "Implement Cache Support"
Currently, Cache support is stubbed out similar to how the Cache API behaves in the Cloudflare Workers playground. We should make it fully functional with the ability to toggle it on or off (stubbed or functional) via a CLI flag.

[2018-12-13 05:30] hankjacobs opened #21 "Use ReadableStream for response body"
Under the hood, node-fetch is used to implement the fetch spec. Node-fetch is not spec compliant when it comes to the response body. According to the spec, a response body should be a ReadableStream. It currently can be one of multiple types, none of which are ReadableStream. This should be fixed.

[2018-12-21 17:02] tootedom opened #25 "Streaming Support Possible?"
Hi there,

I was wondering if it is possible to run streaming based workers using the cloudworker? (https://developers.cloudflare.com/workers/recipes/streaming-responses/).

When attempting this we are seeing the following error
[code]

I was wondering if this is something you know about, and perhaps have a solution for which you may not have published/pushed yet.

Many thanks
/dom

[2018-12-21 19:45] kamal opened #26 "Read protocol off of headers"
I'm spiking replacing `sw-test-env` with `cloudworker` in our cloudflare worker test setup. We typically use cloudflare workers as a rewriting proxy fronting different URL endpoints, so we usually build very narrow handlers that check that the hostname, path, scheme, port and content type are what we expect, otherwise we let the request pass through unmodified.

For reference, here is a typical wa

[2018-12-22 03:53] hankjacobs opened #27 "Streams allow writes of arbitrary data"
Cloudflare Workers through the following exception when you attempt to write arbitrary (non ArrayBuffer) data.

[code]
Cloudworker should do the same.

[2018-12-22 04:16] hankjacobs commented on #25
Hey Dom,

#28 should fix this. To ensure functionality, I'll add a test that uses the same code as the linked recipe.

[2018-12-22 05:16] #21 closed

[2018-12-22 08:14] hankjacobs commented on #26
I think the feature I just added should support your use-case. I've [released a beta](https://github.com/dollarshaveclub/cloudworker/releases/tag/v0.0.8-beta.3) that includes it. The README touches on [how to use it](https://github.com/dollarshaveclub/cloudworker#package-usage). Let me know what you think.

[2018-12-22 11:48] tootedom commented on #25
Hi there,

Thanks for the quick response.  I tried it will the following:

[code]

Unfortunately the following line is adding the header a blank `transfer-encoding` header, which results in a 400 response from google, and other upstream sources I've tried.

https://github.com/dollarshaveclub/cloudworker/blob/master/lib/runtime/fetch.js#L15

Removing this line get things working.

[2018-12-22 13:30] tootedom opened #32 "Support for byob in getReader()"
Would it be possible to support the byob mode for obtaining a reader:

[code]

This is so that workers can support the reading of upstream source data in chunks.  Currently when attempting to perform this, the following error is thrown:

[code]

-----

The following is an example worker using this method of fetching from the upstream:

[code]

[2018-12-22 15:47] hankjacobs commented on #25
@tootedom Thanks for catching that. There is some context around setting that header to an empty string (it removes it). It was an attempt to prevent that header from being added in unnecessary scenarios.

 How large is the file you’re POSTing to S3? Can you share the file and your worker script?

[2018-12-26 19:03] #26 closed

[2018-12-26 19:29] hankjacobs opened #33 "Empty Transfer-Encoding header included on fetch requests causes problems"
Originally appeared [here](https://github.com/dollarshaveclub/cloudworker/issues/25#issuecomment-449564734).

[2019-01-02 19:15] hankjacobs opened #37 "Move @dollarshaveclub/node-fetch into this repo"
Move [@dollarshaveclub/node-fetch](https://github.com/dollarshaveclub/node-fetch) into cloudworker. It's only used by cloudworker and doesn't belong in a separate repo IMO.

[2019-01-02 19:50] #32 closed

[2019-01-02 20:33] larkin-nz commented on #37
I also agree with this

[2019-01-05 07:51] larkin-nz opened #40 "Expected release date of v0.0.8-beta.5?"
Hey @hankjacobs

When do you expect to release v0.0.8-beta.5, and how long do you think you'll run it in beta for before releasing as 0.0.8 on NPM?

I'm asking as I'm planning on launching a package on NPM pretty soon which I'll be using CloudWorker as one of the dependencies (with the --watch flag).

No rush, just looking for an indication!

Keep up the great work! :)

[2019-01-05 15:30] hankjacobs commented on #40
On second thought, I’ll leave this open until #29 gets merged so you’ll get notified when that happens.

[2019-01-05 22:17] larkin-nz commented on #40
Excellent - thank you!

[2019-01-07 12:41] atmin opened #41 "Mock fetch inside worker for tests"
First, thank you for this project, it helped convert my node-cloudflare-riddled-with-if-process-env-checks isomorphic JS into more readable codebase.

Scenario: I want to make a bunch of snapshot tests to my worker - I have requests and expected responses. However, my worker makes calls to external services and I want to mock those, probably using `fetch-mock` (alternatives are fine, if you have s

[2019-01-07 22:42] larkin-nz commented on #40
Excellent - thank you!

[2019-01-08 08:45] atmin commented on #41
I'm importing it as a package. Current workaround is to pass `{ bindings: { mockedFetch: fetchMock().sandbox() } }` to `Cloudworker` from the runner script and use what's available in the worker code.

I'm thinking of moving `Object.assign(this, bindings)` at the end of `Context` constructor, so user-provided bindings override the defaults. I'll try this tonight.

[2019-01-08 10:48] larkin-nz commented on #33
Hey @hankjacobs

I'm getting a 501 when making a fetch request to any URL (with any method).

I had this the other day but after reinstalling the package it had fixed itself, any idea what's going on here?

Not quite sure what the bug here is!

[2019-01-08 20:05] hankjacobs commented on #33
@larkin-nz Do you have some example requests that reproduce this?

[2019-01-08 20:07] hankjacobs commented on #41
I think that'll work. I also like that approach as well but I want to give it a little more thought, too. Mind opening a PR with that change if it works? Thanks!

[2019-01-08 20:19] hankjacobs commented on #33
Regarding setting `transfer-encoding` to an empty string when fetch'ing with a body:
The intention with that is to disable chunked transfer-encoding. When the body of a request is a Stream (node or a browser), node.js will automatically set the transfer-encoding to chunked. For the most part that was ok except that any request that gets cloned has a body of type ReadableStream even if the original

[2019-01-08 21:10] larkin-nz commented on #33
@hankjacobs - making any request to a service (such as Stripe) with POST seems to throw a 501 for me.

What if we set 'transfer-encoding' to 'identity' instead? As far as I understand this is the default in most systems and is supported by everything.

[2019-01-09 09:34] atmin commented on #41
Yep, that works. PR: https://github.com/dollarshaveclub/cloudworker/pull/42

[2019-01-10 18:15] hankjacobs commented on #33
Sorry for the delay in response. It's been a bit crazy the past few days (and still going). I think the proper solution is not to touch the `transfer-encoding` header at all. I'm leaning towards reading the entire request body in the fetch shim prior to calling the real fetch. This most closely matches what actually happens in Cloudflare with the minor difference being that the fetch request body

[2019-01-10 21:55] larkin-nz commented on #33
No worries at all!

That sounds fine to me - I can't think of a better solution to it than that right now, so I think let's just go with that.

I'll be away for the next four days, but I'd really appreciate it if you've managed to implement it by then if you have the time.

Thanks again!

[2019-01-11 01:37] hankjacobs commented on #33
Most recent beta should fix the issue. Please open a new issue if the issue persists. Thanks!

[2019-01-11 01:37] #33 closed

[2019-01-11 18:02] hankjacobs commented on #41
Thanks! Added to [most recent beta](https://github.com/dollarshaveclub/cloudworker/releases/tag/v0.0.8-beta.8).

[2019-01-11 18:02] #41 closed

[2019-01-18 03:16] kamal opened #46 "Implement request.formData() in ShimRequest"
In [Cloudflare's documentation](https://developers.cloudflare.com/workers/recipes/post-requests/), they make use of Service Worker's `request.formData()` to be able to get to multipart form data in the request. This is currently uninimplemented in `ShimRequest`.

For reference, to post `FormData` in the request, I am passing an instance of `FormData` as the body, as [documented when using in conju

[2019-01-20 05:06] hankjacobs commented on #46
Thanks for the heads up. I’ll look into it.

[2019-01-20 09:14] larkin-nz opened #48 "Potential Memory Leak"
Hey @hankjacobs

I've discovered a potential memory leak which can occur with Cloudworker - however, I may just be misunderstanding something so please feel free to correct me.

A basic overview of when this is happening:

- A new `Cloudworker` instance is created (via Node API) and bound to a variable `server`.
- A client connects to a URL which is serving content with Cloudworker (with `respondW

[2019-01-21 14:02] atmin commented on #48
Are you trying to achieve a CI for local development?

The way I solved this problem:

1. I have `npm run watch:worker` (based on parcel instead of webpack, but whatever), which continuously builds worker code
2. `npm run watch:cloudworker` runs cloudworker CLI in watch mode, observing `./dist/worker.js`
3. `npm run watch` which is just `concurrently "npm run watch:worker" "npm run watch:cloudwork

[2019-01-21 18:04] larkin-nz commented on #48
Hey @atmin,

No, I'm using this for a project which works via Node API.

Obviously your solution works for building with Webpack and watching but doesn't address our problem.

Thanks

[2019-01-22 19:03] hankjacobs commented on #48
Hi @larkin-nz,

Thanks for the report! As far as I can tell, this isn't so much a memory leak but just the way it works for node http servers. Internally, we use [stoppable](https://www.npmjs.com/package/stoppable) to handle graceful shutdowns of our node http servers.

Currently, I'm leaning towards leaving it up to the developer to implement this behavior (by doing what you did or using somethin

[2019-01-23 21:44] neshanthan opened #50 "Issues when using plugin-proposal-class-properties"
Hey,

I wanted to try and use this for my project and I ran into an issue, it works fine in production. I am using the babel plugin-proposal-class-properties, and for the following code

[code]
I will get the error "ReferenceError: TextEncoder is not defined", but it will work fine when creating an instance of new TextEncoder inside a function or the constructor.

[2019-01-23 22:48] hankjacobs commented on #50
Hi @neshanthan,

Why are using plugin-proposal-class-properties? Class syntax is available for use in Cloudworker (assuming you are using a version of node that supports it). Furthermore, when is that error shown?

[2019-01-23 23:42] neshanthan commented on #50
Hey,

Class syntax is supported but I don't believe Class field declarations are available without doing the babel translations (maybe in some browsers but not chrome), its still an [experimental feature](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes#Field_declarations). If you try the following code in chrome:

This will work fine
[code]

but this will not

[code]

The

[2019-01-23 23:43] hankjacobs commented on #50
Ah, I see. Do you mind sharing file generated by babel as well?

[2019-01-25 22:48] larkin-nz commented on #48
Hey @hankjacobs,

Sorry I hadn't seen your response!

I understand your logic - I'm happy with that also.

As long as we refer anyone who has a similar problem to here.

My alternate option would be to bind a custom behaviour to the 'close' function which closes sockets too.

Cheers

[2019-01-28 22:22] hankjacobs commented on #50
Thanks for your patience @neshanthan. So the Encoding APIs are only available in the [cloudworker v0.0.10 beta](https://github.com/dollarshaveclub/cloudworker/releases/tag/v0.0.10-beta.3) at the moment. I tested using the code you provided and the most recent beta and it worked for me. You can install the beta using:

[code]

Feel free to comment if that doesn't resolve the issue. In the mean time

[2019-01-28 22:22] #50 closed

[2019-01-29 08:45] ssttevee opened #52 "ReadableStreams may become "disturbed""
This behaviour is discussed here: https://community.cloudflare.com/t/debugging-workers-specific-javascript-errors/56334/6

[2019-02-01 09:48] ssttevee commented on #52
The script mentioned in the thread is one with a retry mechanism, but something like this will trigger the error as well.

[code]

I believe `Content-Length > 0` must be true for it to occur.

[2019-02-06 00:59] bigelowcc opened #53 "ReferenceError: TextEncoder is not defined"
Including the line `const encoder = new TextEncoder();` makes the request fail with the above error.

Example script: https://gist.github.com/bcnzer/e6a7265fd368fa22ef960b17b9a76488

[2019-02-06 04:14] #53 closed

[2019-02-06 04:14] bigelowcc commented on #53
I see this is in the beta release.

[2019-02-11 00:59] jbeeko opened #56 "Request object does not include .cf object."
The event.request  object provided does not include the .cf attribute as described here https://developers.cloudflare.com/workers/reference/request-attributes/. If it provided mock values that would mean dev code would not need to account for null.

[2019-02-11 22:07] hankjacobs commented on #56
Yeah, totally makes sense. I'll see what we can come up with.

[2019-02-11 22:58] #56 closed

[2019-02-11 23:05] jbeeko commented on #56
I don't think it much matters what the values are. This would probably be fine:
[code]

Of course CloudWorker does not run on TLS so you could argue these values are wrong. But short term just having something even if mocked out and wrong is better than null.

[2019-02-11 23:08] hankjacobs commented on #56
Yeah I did something close to that. I think I'm OK with it misreporting TLS. I feel the value it provides from a testing perspective out weighs it being incorrect.

[2019-02-15 19:58] paulbhartzog commented on #46
After getting cloudworker listening on port 3000, I also tried to post formData but I got this response:

`TypeError: request.formData is not a function`

Any plans for implementing formData within cloudworker?

[2019-02-15 20:00] hankjacobs commented on #46
Yep, at some point. That being said, PRs are welcome :). To those interested in giving it a shot, the best place to make that change is probably in [our fork of node-fetch](https://github.com/dollarshaveclub/node-fetch).

[2019-02-18 16:09] timdp opened #64 "TextEncoder doesn't work in Go WebAssembly"
With v0.0.10-beta.6, we just ran into an issue that made our Go WASM build throw an obscure `Reflect.get()`-related error. We proceeded to disable the polyfills one by one, and narrowed it down to `text-encoding` crashing.

However, I don't see why the `text-encoding` package is being used in the first place. Node has had its own `TextEncoder` and `TextDecoder` in `util` since version 8.3, and if

[2019-02-19 21:18] hankjacobs commented on #64
Ah interesting. Let me take a look and I’ll get back to you. It should be a simple fix to swap implementations if the node one is suitable.

[2019-02-19 22:17] #64 closed

[2019-02-19 22:21] hankjacobs commented on #64
@timdp The most recent beta should do the trick. Let me know if it works for you.

[2019-02-21 14:47] kfatehi opened #68 "Question about how KV works"
Hi

I am having trouble understanding how the "TestNamespace" in the example is actually defined?

In other words, when I try to run the example, it throws an error saying it's undefined, but I don't know what to do in order to cause it to be defined.

I'd like to be able to cause it to be defined both from CLI and from Nodejs (because I am using this technique to write unit tests).

I tried using

[2019-02-21 17:44] hankjacobs commented on #68
Hi @kfatehi! I've just updated the README to include runnable examples of using `--kv-set` and `--kv-file`. The TestNamespace variable gets defined if there is a `--kv-set` or `--kv-file` flag that has it as the variable portion (e.g. the `variable` part of `--kv-set [variable.key=value]`). `variable` can be anything but it must match what is used within the worker script. For example, `--kv-set T

[2019-02-21 17:44] #68 closed

[2019-02-22 12:58] kfatehi commented on #68
Hi @hankjacobs

Thank you for the quick response. I am now up and running. For future reference, I want to paste some code here in this issue showing how to initialize KV when starting constructing a Cloudworker from JS.

I'm using this in my test harness:

[code]

[2019-02-22 14:24] atmin commented on #68
that works, but no need to parse command line params when instrumenting with code:

[code]

[2019-02-25 19:15] timdp opened #71 "Add setTimeout and friends"
Cloudflare Workers supports `setTimeout`, `clearTimeout`, `setInterval` and `clearInterval` (with limitations on the call site), but the `vm` module doesn't add them by default. Adding them to the context manually resolves this for me.

[2019-03-01 11:04] fabien-h opened #72 "Cannot find module '../build/Release/nodessl.node'"
I just start the process with `cloudworker dist/server.js` and get this error:

[code]

[2019-03-01 19:29] hankjacobs commented on #72
Have you tried uninstalling and reinstalling cloudworker? Also, make sure you’re on node v10. If that doesn’t work, what OS are you using?

[2019-03-02 01:49] fabien-h commented on #72
Node 11, I installed a couple of times, npm clean in between

[2019-03-02 23:40] hankjacobs commented on #72
What OS are you using? I can't repro under Node 11 with my Linux machine.

[2019-03-03 00:01] hankjacobs commented on #71
Closed by #73

[2019-03-03 00:01] #71 closed

[2019-03-08 19:59] EverlastingBugstopper opened #75 "Cannot use webpack Buffer module"
My worker relies on the `Buffer` [package](https://www.npmjs.com/package/buffer) and it works fine in the Cloudflare worker runtime. However when I attempt to use Cloudworker, the method for creating a new Buffer `Buffer.from("Hello, world!")` throws this error: `first argument must be a string or Buffer` (which doesn't really make sense, because the first argument is a string or Buffer)

I tried

[2019-03-28 22:14] derekargueta opened #79 "ReferenceError: URLSearchParams is not defined"
URLSearchParams is a standard web api - https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams

it'd be great to get a shim for this.

[2019-03-29 05:35] thegeorgeous commented on #72
Happens on macOS Mojave with node v10

[2019-04-02 12:21] Goues opened #80 "Question: How to specify origin/cname for cloudworker"
Hello,

we are trying to setup Cloudworke and fail to do this one thing:

Our current setup is `SSL offloading -> Varnish -> Origin` and we are trying replace Varnish with Cloudflare worker. To make caching right, we use a Cloudflare worker to append suffixes based on parameters like this: https://developers.cloudflare.com/workers/recipes/vcl-conversion/delivering-different-content-to-different-de

[2019-04-16 01:32] larkin-nz commented on #79
Hey @derekargueta

It this working in Cloudflare Workers and not Cloudworker?

[2019-04-26 16:40] fabien-h commented on #72
Hi, back on the project. I still have the same issue on macOS Mojave (node 12).

I have this error on build :

`CXX(target)` Release/obj.target/nodessl/src/main.o
Apple LLVM version 10.0.0 (clang-1000.10.44.4)
Target: x86_64-apple-darwin17.7.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin
 "/Library/Developer/CommandLineTools/usr/bin/clang" -cc1 -triple x86_64-apple

[2019-04-27 08:33] fabien-h commented on #72
Using yarn solves the issue if someone encounters the same problem.

[2019-05-11 16:38] rsanchez commented on #46
Any consideration for this issue? There is an existing PR (https://github.com/dollarshaveclub/node-fetch/pull/5) with an implementation of FormData.

[2019-05-12 22:22] #79 closed

[2019-05-12 22:35] hankjacobs commented on #46
Yep, I'm all for it. I need to get my permissions to that repo fixed and then I'll merge it. Thanks!

[2019-05-15 11:11] g3rd opened #86 "Configure a secure connection"
Hello,

First off, thanks for this project! It makes developing cloudworkers much easier.

Is there a way to configure a secure connection?

Thanks,
Chad Shryock

[2019-05-18 16:49] stefanjudis opened #88 "self.addEventListener not defined"
Heyo. :) Thanks for this tool. It's exactly what I was looking for.

I'm planning to reuse code between a service worker and a cloudflare worker. The following code throws an exception in cloudworker but works [on cloudflare](https://cloudflareworkers.com/#55286c4e42c90d233fd95a830c549ac4:https://reactjs.org/) (and a service worker).

[code]

[code]

Are you up for adding `self` including the `add

[2019-05-19 03:30] jdanyow opened #89 "b2a package's atob function is buggy"
This code succeeds using the browser's native atob function but fails in b2a's implementation of the atob function.

[code]

Try the same code using b2a's implementation:
https://runkit.com/embed/3o25kzzoonzp

throws "URIError: URI malformed"

[2019-05-19 22:50] hankjacobs commented on #46
I've merged it. I'm now waiting for some NPM permissions to get sorted and then I can release a new version and use it cloudworkers.

[2019-05-19 22:59] #89 closed

[2019-05-20 00:05] #88 closed

[2019-05-20 00:13] hankjacobs opened #92 "v0.1.0-beta.2 not published to npm"
This issue tracks my inability to publish v0.1.0-beta.2 to npm. I'm working on getting that fixed. I will close this issue once fixed and version published.

[2019-05-28 04:54] arjansingh commented on #17
This still a desire?

[2019-05-28 11:46] tmikaeld opened #93 "Production alternative?"
If, god forbid, Cloudflare would be unable to operate or be blocked by countries - would it be feasible to run this behind an API Gateway, is it built with security in mind or only for local development testing?

[2019-05-28 13:13] hankjacobs commented on #93
It was developed solely with local development in mind and is most definitely not meant to be used in production.

[2019-05-28 13:13] #93 closed

[2019-05-28 13:13] hankjacobs commented on #17
Yep!

[2019-05-28 13:14] hankjacobs commented on #92
Still unable to publish, still working on fixing that.

[2019-05-28 13:16] tmikaeld commented on #93
Figured as much, I guess it would need to be re-built from the ground up for the use-case.

Makes cloudflare workers quite a lock-in, but I guess that's the point.

[2019-05-28 15:07] arjansingh commented on #17
Alright. I'm looking for something to do. Let me see if I can help.

Any preference on approach?

[2019-05-28 18:33] hankjacobs commented on #17
Thanks! My only preference is that it be incremental to avoid huge PRs.

[2019-06-04 22:18] defjosiah commented on #92
Hi! Thanks for an awesome package, just wondering if you were able to get this straightened out?
We use a "await request.dispatch" pattern in our tests, and unfortunately since we added a "event.waitUntil" to the main worker code those tests broke.

From the code changes in this release, it looks like the v0.1.0-beta.2 would fix this.

[2019-06-05 00:44] hankjacobs commented on #92
Just pushed it! Thank you for your patience.

[2019-06-05 00:44] #92 closed

[2019-06-05 00:52] defjosiah commented on #92
Thank you!

[2019-06-11 23:02] kamal commented on #46
@hankjacobs did you manage to sort out the npm permissions?

[2019-06-12 01:51] hankjacobs commented on #46
Still working on it but I was able to get node-fetch published. I’ll work on getting a new version of cloudworker published sometime this week

[2019-06-12 15:53] kanor1306 opened #94 "Testing worker with npm modules"
Hi all, I have been using your project to unit test some small workers and it is working very nicely for me. But, I have run now into some problems that I am not sure if they happen due to the _cloudworker_ not being prepared for this use case, or for something that I am doing wrong. So more than an issue it is a functionality question.

I have a worker that requires a couple of npm modules. To wo

[2019-06-13 11:52] kanor1306 commented on #94
Closing this as I figured out a way of achieving this.

For future reference, if you are loading your worker with code similar to this:

`new Cloudworker(require("fs").readFileSync("src/worker.js", "utf8"));`

there is a second parameter to the Cloudworker constructor that accepts an object that can be composed of several properties: debug, bindings and enableCache. Using bindings helped me to all

[2019-06-13 11:52] #94 closed

[2019-06-17 20:37] lasergoat opened #95 "Using Webpack to build with npm modules, but require() not found"
I am running my cloudflare worker scripts in 3 ways:

1. in cloudflare itself
2. locally with this repo and npm test
3. locally with this repo in the cli: `cloudworker --port 3100 --debug --watch script-1.js`

----

**For item 1**, When I work on a script, I build with webpack, and deploy to cloudflare. So, if the script uses require('lodash') it runs fine because webpack puts lodash into the scri

[2019-06-18 00:45] hankjacobs commented on #95
You shouldn’t need to. Cloudworker was designed around the idea that one would pass in the same script that gets uploaded to Cloudflare (already webpack’ed).

[2019-06-18 00:53] hankjacobs commented on #95
Closing for now. If webpacking your script prior to running with cloudworker doesn’t work, feel free to reopen. Thanks!

[2019-06-18 00:53] #95 closed

[2019-06-18 01:43] hankjacobs commented on #46
A beta [has been published](https://github.com/dollarshaveclub/cloudworker/releases/tag/v0.1.0-beta.3). Prod version will be deployed in the next week or so pending any bugs being reported.

[2019-06-18 01:43] #46 closed

[2019-06-18 01:45] hankjacobs commented on #46
Relevant PR #96

[2019-06-19 15:24] lasergoat commented on #95
@hankjacobs sorry, i don't understand your response...

I shouldn't need to what? Are you saying that locally I need to have the cli run my webpacked code instead?

like:

```cloudworker --port 3100 --debug --watch dist/script.js```

[2019-06-19 15:35] hankjacobs commented on #95
Exactly. You shouldn’t need to bind `require` since the webpacked code shouldn’t have any require statements.

[2019-06-20 16:50] lasergoat commented on #95
@hankjacobs ok awesome, I'm with you now. The goal is to have Webpack generate a string or a file and feed that into the cloud worker.

I'm not a Webpack pro so I used two separate commands like:

[code]

Is there a cleaner way to do it with webpack? I'm no Webpack pro, but I'm searching their docs and thought I'd just ask also.

[2019-06-20 21:04] lasergoat commented on #95
Here's my npm-run-all solution:

[code]

it's not the most scalable solution since anytime I add a script I'd need to make a new command, BUT it does work for now.

But I wanted to see if someone had a cleaner solution that npm-run-all for feeding Webpack builds into cloud worker with a watch.

[2019-06-20 21:06] tgallacher opened #97 "Response object does not set url correctly"
# Summary

First of all, thanks for this package; being able to create unit tests for Cloudflare workers is super helpful!

## Problem
I have a `worker.js` script that includes a call to `Response.redirect()`:

[code]

With a test:

[code]

**Expected Behaviour**

The test passes or fails, depending on the implementation of the `worker.js` code.

**Actual Behaviour**

The test always fails as `res

[2019-06-21 20:55] lasergoat commented on #41
Just a note for future people with this issue:

@atmin's comment had a slight issue: fetchMock is not a function. you should instead do `fetchMock.sandbox()`

**I'm sure this will help someone, so here's mu full unit test for the worker:**

Like they said, do:

```npm install -g -D @dollarshaveclub/cloudworker@beta```

Then, in your unit tests when including the fetch binding do:

[code]

[2019-06-24 00:27] hankjacobs commented on #97
Hi @tgallacher. From some experimentation, I found that cloudworker's behavior is mostly correct in this scenario when compared against Cloudflare Workers. [Here's an example](https://cloudflareworkers.com/#b0b4b87387ecaf9e8a0b374ca67a4dd9:https://tutorial.cloudflareworkers.com) of how Cloudflare Workers behave. Note in the console that the redirect response URL is empty. I'd be open to a PR fixin

[2019-06-24 00:27] #97 closed

[2019-06-24 00:33] hankjacobs commented on #80
There's nothing I can think of that would solve this using only cloudworker. Running cloudworker in a container and modifying your machine's `/etc/hosts` file to point `www.example.com` at the container's IP might do the trick.

[2019-06-24 00:33] #80 closed

[2019-06-24 00:40] hankjacobs commented on #75
So this probably has something to do with the way cloudworker is architected. I touched on the underlying issue [in this comment](https://github.com/dollarshaveclub/cloudworker/pull/81#issuecomment-485292676). That being said, I just pushed v0.1.0 that has some improvements in that area so it may work now. Give it a shot and let me know if it's resolved (or not). Closing this issue for now. Thanks

[2019-06-24 00:40] #75 closed

[2019-06-24 00:41] #72 closed

[2019-06-24 00:47] hankjacobs commented on #52
I wasn't able to reproduce using a working version of the example you provied:

[code]
Closing for now. If you come across a working example that fails, please reopen with it attached. Thanks!

[2019-06-24 00:47] #52 closed

[2019-06-24 00:48] hankjacobs commented on #86
PR #87 should do the trick once it lands on master. Thanks!

[2019-06-24 00:48] #86 closed

[2019-06-24 02:39] ssttevee commented on #52
This snippet causes the same error more consistently:
[code]

The error thrown is

[code]

[2019-06-26 14:35] tomByrer opened #102 "Use PeculiarVentures/webcrypto instead | also?"
We Windows users sometimes have issues with `node-gyp` which [PeculiarVentures/node-webcrypto-ossl](https://github.com/PeculiarVentures/node-webcrypto-ossl/issues/150) uses to build/`install`.  They do have a another repo that is API comparable save a few algorithms that do not overlap between [OSSL C++](https://github.com/PeculiarVentures/node-webcrypto-ossl#supported-algorithms) & [WebCrypto](ht

[2019-06-27 04:28] SamJarmanPP opened #103 "Question: How can I pass in metadata?"
We have a `manifest.json` for metadata which we fill with secrets and what not for bindings. I dont see a CLI option to specify this? How can I achieve this?

Thanks!

[2019-07-08 02:22] hankjacobs commented on #103
Hi @SamJarmanPP! Is the `manifest.json` a Cloudflare Worker concept? If so, could you please link to the documentation? Thanks!

[2019-07-08 02:26] SamJarmanPP commented on #103
Sure, something like this https://developers.cloudflare.com/ssl/ssl-for-saas/hostname-specific/custom-metadata/ @hankjacobs

Cheers!

[2019-07-08 02:44] hankjacobs commented on #103
Oh neat! I didn't know that was a feature. Currently, cloudworker doesn't support it but I wouldn't be opposed to adding it as a feature. Off the cuff, a flag could be added that allows one to specify the path (or maybe the actual JSON) to a file that contains the JSON blog to inject with every request that is handled by the worker. No guarantees on when I can get to that but PRs are always welcom

[2019-07-08 02:45] SamJarmanPP commented on #103
Yeah! I was thinking a CLI arg like the key/value pairs currently there. Cheers!

[2019-07-08 02:59] hankjacobs commented on #102
I'm all for switching to `@peculiar/webcrypto`. @ssttevee took a shot at it in #81 but [we ran into an issue](https://github.com/dollarshaveclub/cloudworker/pull/81#issuecomment-485292676) with the way cloudworker is architected that was a show stopper. Feel free to take a stab at it if you'd like!

[2019-07-08 02:59] #102 closed

[2019-07-08 05:33] jdanyow opened #107 "respondWith should no-op/throw when called outside context of fetch event"
[code]

[2019-07-17 00:37] mnowik opened #108 "Cannot assign 'NaN' of object '#<Window>'"
I just bumped your package from version `0.0.11 -> 0.1.1` and I am getting the following error.

[code]

As mentioned in the CF post, here is my test setup to mock fetch.

[code]

[2019-07-17 01:26] hankjacobs commented on #108
How are you running these tests? With Jest? I'm a little confused as to why `global` is an instance of `Window` (as is mentioned in the error message). Also, can you please link to the CF post? I'm not sure that I've seen it.

Either way, in v0.1.1 [I added the injection of a bunch of Javascript globals](https://github.com/dollarshaveclub/cloudworker/blob/master/lib/runtime.js#L55) into the contex

[2019-07-17 01:26] hankjacobs commented on #107
thanks! I'll take a look at this sometime soon.

[2019-07-17 01:42] mnowik commented on #108
Yes, I am using Jest.
Here is the blog post: https://blog.cloudflare.com/unit-testing-worker-functions/

[2019-07-17 02:22] hankjacobs commented on #108
Ah I see. Yeah, my advice in my previous comment still stands. Assigning all of the `context` properties to `global` is way too broad. You should assign only what is used. Use something like the following instead (this is untested code so it may not work without minor tweaks):

[code]

Alternatively, you could delete the `NaN` property that's causing the TypeError. Note that you may have to do it

[2019-07-17 18:59] mnowik commented on #108
Thanks, @hankjacobs

Ended up implementing your solution, it is definilty more explicite than assigning everything.

[code]

[2019-07-17 18:59] #108 closed

[2019-07-18 07:33] markusahlstrand opened #109 "Question: Is it possible to run cloudworker in debug?"
I'm looking for an easy way to debug cloudflare workers wonder if this is possible with the cloudworker? I'm currently using more or less the runtime.js library from cloudworker to patch the node environment before starting the worker and it works pretty good, but it doesn't seem like the runtime is exposed? Is this possible, could it be possible or would it be better to do this in a separate proj

[2019-08-01 19:54] andreasmauer opened #110 "cloudworker does not support export / require?"
I have a worker already running in cloudflare and working fine. When I try to test it with cloudworker though I always get the following error: ReferenceError: require is not defined

Do cloudworker support export/requires?

[2019-08-01 20:04] hankjacobs commented on #110
Neither Cloudflare Workers nor cloudwork does. Check out https://developers.cloudflare.com/workers/writing-workers/using-npm-modules/ for how to use modules. The TLDR is use webpack to combine the modules with your script and then use cloudworker to run the resulting script.

[2019-08-01 20:04] hankjacobs commented on #110
This thread has an approach too: https://github.com/dollarshaveclub/cloudworker/issues/95

[2019-08-01 20:04] #110 closed

[2019-08-03 16:59] hankjacobs commented on #109
Hi @markusahlstrand,

I don't understand the question. Could you give specific examples of what you are trying to accomplish and why it currently doesn't work? Thanks!

[2019-08-04 10:31] markusahlstrand commented on #109
Hi @hankjacobs,

What I'm trying to accomplish is debug multiple files in visual studio code, rather than compiling to a single text file. I wonder if there is a way to achieve this with the cloudworker lib or if it's a different use case? The examples I've seen with for instance unit tests loads the worker as a text file which I assume will make debugging in vs-code difficult? Thanks!

[2019-08-05 10:56] atmin commented on #109
If you enable source map for your webpacked result, you can debug the original multiple source files just fine.

As Cloudworker is not a lib, but an executor of your single-file worker code, you cannot just set a breakpoint (like you cannot set a breakpoint inside a string, which is `eval()`ed at runtime), then 'Debug > Start Debugging' and expect the debugger to stop (I will be happy to be correc

[2019-08-05 15:32] markusahlstrand commented on #109
This might be a stupid question, but is there an advantage to loading the script in a node vm sandbox? Would there be a downside to just adding shims for the cloudflare runtime and executing the script straight away? That way breakpoints would work just as in any other node program with no webpack required. Or is it more a question about that cloudworker isn't a lib, but an executor?

[2019-08-05 22:26] boulter commented on #103
How about allowing just passing it in on the request as additional request object params? It currently looks like [it's always overridden](https://github.com/dollarshaveclub/cloudworker/blob/5b3ae4e5f895134a40511cbcab3dbd2ac6d67ceb/lib/runtime/fetch.js#L78-L90).

I'd like to be able to do something like
[code]

[2019-08-07 14:18] atmin commented on #109
The advantage is dev and prod environments are as similar, as possible.
The disadvantage is harder to debug.

Before Cloudworker existed, I actually used the approach you're describing (doing feature detection and `require`ing/patching stuff when runtime is Node. Webpack the thing in the publish script (dead code elimination takes care of Node polyfills) and upload to Cloudflare). Yes, debugging i

[2019-08-09 18:33] knation opened #113 "Question: Code Coverage"
Curious to know if/how anyone is getting coverage reporting. Using istanbul/nyc and showing coverage of 0 lines since it's loaded into the worker context as a string.

[2019-08-14 16:22] SaubereSache opened #114 "ReferenceError: BigInt is not defined"
Hello,
when I try to use Cloudworker on any valid Cloudflare Worker file, it shows me this stacktrace (OS: Windows 10 x64).
As I already searched online and haven't found anything I'm posting this issue to (hopefully) find a solution.

`C:\Users\Constantin Schreiber\WebstormProjects\workertsc\dist>cloudworker worker.js
Starting up...
ReferenceError: BigInt is not defined
    at new Context (C:\Use

[2019-08-14 16:30] svemir commented on #114
I had the same problem, but I am not 100% sure what was the solution. I think I fixed it by updating from node v8 to v10.

[2019-08-14 21:22] SaubereSache commented on #114
Needed to uninstall my old Node (v8) and delete all global NPM modules (located at %appdata%\npm in Windows) and reinstall Node v10 and Cloudworker.

[2019-08-14 21:22] #114 closed

[2019-08-20 12:03] Hassnain-Alvi opened #115 "TypeError: Only absolute URLs are supported"
I need to use subtiers url to tst my workers but when i pass the URL in form of
https://example.com/hello/world/<uuid> it raises an unhandled exception below:

`node:21730) UnhandledPromiseRejectionWarning: TypeError: Only absolute URLs are supported`

How can i test complex URLs with workers?

[2019-09-04 09:41] joladev opened #116 "Verify that package-lock.json is up to date"
As far as I can tell with `npm` you use `npm ci` instead of `npm install` to verify that the `package-lock.json` is up to date.

Pros
* Optimized for CI
* Errors if someone forgets to update package-lock.json
* Always does a clean install

Cons
* Clears node_modules before it runs (no caching)

[2019-09-04 09:49] joladev opened #117 "Improve documentation around using KVStore from code"
There are examples of how to set up bindings using the CLI but nothing for running it programmatically.

Through trial and error I've managed the following

[code]

Note that TypeScript errors on that import with `has no exported member 'KeyValueStore'`. Not sure how to fix that, maybe I'm importing it wrong?

Anyway, if this looks right I can make a PR with a simple example of using the KV Store

[2019-09-07 23:40] #103 closed

[2019-09-07 23:53] hankjacobs opened #119 "v0.1.2 not published to npm"
Due to access issues with NPM, I am unable to publish v0.1.2. I am in the process of resolving. Thank you for your patience.

[2019-09-16 11:02] shalzz commented on #79
Hi, I'm still getting a similar error now with v0.1.1 and nodejs v12:
`TypeError: url_1.URLSearchParams is not a constructor`

[2019-09-16 23:38] tysonclugg opened #120 "Missing runtime bindings: Timers"
As per https://developers.cloudflare.com/workers/reference/apis/standard/, the timer API (`setInterval`, `clearInterval`, `setTimeout`, and `clearTimeout`) should be available in the request context.

[2019-09-18 17:11] Grynn opened #121 "CF_IPCOUNTRY (and some other) headers are missing"
Cloudflare workers seem to recv. a few more headers;

* cf-ipcountry
* cf-ray
* cf-visitor
* x-forwarded-proto
* cookie (__cfuuid)

See https://echo1.grynn.workers.dev

[2019-10-01 10:49] danihodovic commented on #18
Done in #22?

[2019-10-02 05:04] fluidsonic opened #123 "Array literals aren't Arrays"
For some reason `[] instanceof Array` is `false` when a script is run within Cloudworker.
That messes up our script :)

No idea how that can happen but in plain Node an in a Cloudflare Worker it's working correctly.

[2019-10-10 11:41] nc-andreashaller opened #125 "Question: How to configure backends?"
Hi,
I am currently trying out Cloudworker and I must say I very much like it. One thing that I am wondering is, what is the best way to configure a backend origin. In the example I see this
[code]
but it is not very likely that I want to configure the backend domain/url within a worker script. I would normally do something like
[code]
this would run fine directly in Cloudflare as the request would

[2019-10-11 11:51] nc-andreashaller commented on #125
Thanks for you quick answer. I think that solves my issue. Just two comments I like to let here

- I find it not optimal that the Worker script has to be aware of the Cloudworker environment. Surely there is no direct dependency from the script to Cloudworker in my opinion it is not ideal to have to write the script differently because might be Cloudworker used in some environments. It would be ve

[2019-10-11 11:51] #125 closed

[2019-10-13 17:09] hankjacobs commented on #123
I’m pretty sure this has to do with an architectural issue I discuss [here](https://github.com/dollarshaveclub/cloudworker/pull/81#issuecomment-485292676) and [improvements I made](https://github.com/dollarshaveclub/cloudworker/pull/85) in an attempt to make the corners less sharp. It has to do with executing worker scripts within different node realms. Are you able to reproduce it with just t

[2019-10-14 19:37] knation commented on #119
ETA on this?

[2019-10-14 20:13] hankjacobs commented on #119
Published. Thanks for your patience!

[2019-10-14 20:13] #119 closed

[2019-10-15 09:06] fluidsonic commented on #123
From what I understand about Node now there is no way to fix this issue.

The `Array` and `Object` types that you pass to the context will become contextified.
Arrays created with `[]` and objects with `{}` are _not_ contextified.
Therefor using `instanceof` with contextified types on non-contextified literals will never work.

Simple example:
[code]

[2019-10-15 17:05] sejoker commented on #41
Thanks @lasergoat  it was really helpful, one note to add, then you want to call fetch using Request object:
[code]
Additional setup is needed as [per docs](http://www.wheresrhys.co.uk/fetch-mock/#usagecustom-classes):

[code]

[2019-10-16 09:16] doverton51 opened #126 "atob() failure behaviour different to cloudflare behaviour"
In version 0.1.2

If I run `atob('123===')` inside a cloudflare worker, I get an `InvalidCharacterException` with the message `atob() called with invalid base64-encoded data. (Only whitespace, '+', '/', alphanumeric ASCII, and up to two terminal '=' signs when the input data length is divisible by 4 are allowed.)`

Running this same script in cloudworker does not raise an exception. It seems to dr

[2019-10-22 07:10] shalzz opened #127 "Cannot set headers of a response"
Hi,

According to the cloudflare docs and example snippets we should be able to change the headers of a response for caching. see:
https://developers.cloudflare.com/workers/templates/snippets/alter_headers/

But with cloudworker trying to do the same results in an error:
`TypeError: Can't modify immutable headers`

[2019-10-22 08:08] #127 closed

[2019-10-27 16:12] Immortalin opened #129 "Isolates"
Can isolates be added? I.e. untrusted code sandboxing

[2019-10-27 19:43] GregBrimble opened #130 "[Feature Request] Add KV list method"
KV namespaces now support the `list()` method which returns a paginated list of keys: https://developers.cloudflare.com/workers/reference/storage/listing-keys/.

This method is missing from the `KeyValueStore` class.

[2019-10-27 20:00] GregBrimble commented on #130
I've personally being using this shim:

[code]

If there is interest, I'm more than happy to write up a PR. The only concern I have is with the `expiration` part of the response. This hasn't been implemented in `KeyValueStore` yet, so I've just been dropping it from the response.

[2019-12-18 17:35] davidbarratt opened #131 "Should -d (debug) be the default behavior?"
I found it confusing that cloudworker doesn't log anything to the console (even if an error is thrown) unless the `-d` flag is added. Shouldn't this be the default behavior? (and perhaps a flag to supress output instead?)

[2019-12-29 22:52] iameli commented on #130
This looks solid!

The main thing to verify here would be the behavior of the cursors when there's lots of insertions in between list operations. I slightly suspect that Cloudflare's cursors use the last key of the previous "page" as a starting point for the next page rather than its global order, but I haven't verified this experimentally.

[2019-12-29 23:07] iameli opened #134 "Throw an error for unimplemented `fetch` options"
CloudFlare Workers don't implement a variety of fields in the `fetch` options dict. The ones I know about are `credentials`, `referrer`, `referrerPolicy`, and `mode`. Here's a minimal example:

[code]

This example runs in cloudworker but fails in the CloudFlare worker itself, with an error like

[code]

Usually this happens when I'm being lazy and copying a `fetch()` from the V8 inspector — I don

[2019-12-29 23:12] iameli commented on #131
I dunno, I kinda like the default behavior — you don't get access to stdout/stderr in your Cloudflare workers either, so you'll want to have proper error handling in place to return 500s on unexpected errors and probably some kind of third-party logging solution.

I suppose I don't have a strong opinion about `-d` being the default as long as there's also some flavor of `--no-debug` available to e

[2019-12-29 23:17] iameli commented on #129
Curious about your use case here. You could just run multiple cloudworker instances to isolate scripts from each other... but I don't really think this project was designed to provide comprehensive production-grade isolation to the backing Node.js environment. (But that'd be cool!)

[2019-12-31 04:20] transitive-bullshit commented on #115
I got this as well when I accidentally passed a `Promise` as the URL instead of awaiting a response.

The error message could definitely be clearer if we don't pass a string or an instance of `URL`.

[2020-01-11 14:39] tmikaeld commented on #129
See https://github.com/dollarshaveclub/cloudworker/issues/93

[2020-01-11 17:11] #129 closed

[2020-01-21 23:23] ydesai-opendoor opened #137 "Can't enter a list of strings as JSON"
I am trying to add a list of strings into the Cloudflare KV Store as json via  cloudworker with this command
`cloudflare --kv-set CONFIG.SAMPLE_CONFIG=["92887"]`. When I do this the quotes are stripped so that when I read the Config via `CONFIG.get('SAMPLE_CONFIG', 'json');` I am returned [92887] which is a list of ints not strings. I tried escaping the quotes and that didn't work also.

I also tr

[2020-01-21 23:29] ydesai-opendoor commented on #137
[code]

This is the JSON Parse error when I try and call `CONFIG.get('SAMPLE_CONFIG', 'json')` when SAMPLE_CONFIG is set via `cloudflare --kv-set CONFIG.SAMPLE_CONFIG=[\"test\"] ` the quotes around test I suspect are just getting stripped

[2020-02-02 19:59] Cherry opened #138 "[Feature Request] Add support for HTMLRewriter"
Testing `HTMLRewriter` locally would be really awesome. Currently, `ReferenceError: HTMLRewriter is not defined` is just thrown when attempting to use it.

Reference: https://developers.cloudflare.com/workers/reference/apis/html-rewriter/
Cloudflare do publish the source for this too, at https://github.com/cloudflare/lol-html

[2020-02-03 19:01] bkeroackdsc commented on #138
Hi @Cherry! Unfortunately cloudworker is no longer actively maintained at DSC, so this is unlikely to be looked at in the near future. Perhaps we will find a volunteer at some point.

[2020-02-03 21:10] xtuc commented on #138
The HTMLRewriter could be integrated using https://github.com/cloudflare/lol-html/issues/38

[2020-02-04 05:23] mjhaller opened #139 "Cloudflare origins with CF-Connecting-IP"
We use Cloudworker locally, and it is great...  but sometimes want to fetch a remote Cloudflare resource.  Something like this:

[code]

This is a very contrived example, but you might imagine a useful reason to do this - say you using cloudworker as an api gateway, and developing one service locally but you want to access another one remotely.

Unfortunately this results in an error because Cloud

[2020-02-05 16:56] iadityak commented on #117
You can make the import using require for CommonJS library, no need to go ES6 style.

[code]

[2020-02-06 05:34] AngusMorton opened #144 "Active Maintenance of Cloudworker?"
In the README, it says Dollar Shave Club is no longer _actively_ maintaining Cloudworker, what does that mean?
* Are you still going to be merging PR's/reviewing issues until a new owner is found?
* Has Dollar Shave Club decided to move away from Cloudflare Workers? If so, I'd love to know why.

[2020-02-06 22:05] bkeroackdsc commented on #144
The person who was the primary maintainer of cloudworker no longer can do so. We have a few people who are contributing time here and there but it will be best-effort. The README tries to make this clear to anyone who opens an issue or bug.

[2020-02-06 22:05] #144 closed, assigned to nobody

[2020-03-05 21:39] iameli opened #145 "Livepeer volunteering to maintain"
I'm interesting in volunteering to help! Livepeer is developing an API that's targeted primarily at Cloudflare Workers; having a local dev environment for such a thing is important. I'd be happy to take on maintainership.

First order of business would be getting a `KV.list()` implementation merged: https://github.com/dollarshaveclub/cloudworker/issues/130

Happy to discuss further, email is eli@l

[2020-03-06 19:25] bkeroackdsc commented on #145
Thanks @iameli . I'll send you an email and we can discuss details.

[2020-03-06 19:25] #145 closed, assigned to nobody

[2020-03-08 00:45] iameli opened #146 "inconsistency: disallow `new Function()` eval() loophole"
[Ajv, the JSON-Schema validator doesn't work on Cloudflare Workers.](https://github.com/epoberezkin/ajv). It relies on `eval()`'d code generation, and CF workers don't allow eval().

I was surprised to find that it worked perfectly fine in Cloudworker. I think it's because ajv doesn't actually use `eval()`, it uses the `new Function(<string>)` constructor, which we patch into the runtime environme

[2020-03-08 05:44] iameli commented on #146
Hmm, a naive test shows that `new Function()` doesn't actually work here. Interesting. EIther AJV started working in contexts that disallow code generation or something else is going on... investigating further.

[2020-03-08 05:51] iameli opened #148 "inconsistency: top-level setTimeout, others"
Simple test case:

[code]

This works in cloudworker but fails in CF workers, with this error:

We should disallow the same behavior and add tests for all cases we can think of.

[2020-03-08 06:23] iameli commented on #146
Minimal repro case:

[code]

I'm building that with `parcel build -t browser --no-minify worker.js`. It works with Cloudworker, but in CF itself I get

[code]

Spooky. How is AJV sneaking past `vm.createContext(context, {codeGeneration: {strings: false}})`?

[2020-03-08 06:31] iameli commented on #146
Okay, confirmed my original hypothesis - `new Function("true");` seems to get around the ban on code generation.

[2020-03-09 10:27] xtuc commented on #146
I added a few cases in your PR that should be disallowed. The rule is any evaluation of any generated code is disallowed (wasm is one non obvious case).

[2020-03-09 10:28] xtuc commented on #148
It fails in the preview but I'm sure it works in production, have you tried it?

[2020-03-09 18:21] iameli commented on #148
Hmm. Just tossing a single `setTimeout(() => {}, 0)` into an existing worker script seems to not break, but actually relying on a top-level timeout to do anything doesn't seem to work. I deployed this with wrangler and it didn't work, for example:

[code]

[2020-03-16 21:10] aleclarson commented on #144
Cloudflare's `wrangler` CLI has a `dev` command that supplants the need for `cloudworker`.

See here: https://github.com/cloudflare/wrangler#-dev

[2020-03-17 11:14] xtuc commented on #144
@aleclarson it's a great solution but doesn't work offline and it's not pratical to me in unit test/CI.

[2020-03-17 13:31] aleclarson commented on #144
You sure about that? The docs say it starts a localhost server. Why wouldn't that work offline?

[2020-03-26 17:34] qmhoang commented on #145
@iameli what happen to this?  Did Livepeer no longer wanting to maintain this?

[2020-03-27 22:25] iameli commented on #145
@qmhoang Nope, still interested! Sorry, ball's in my court: @bkeroackdsc told me to ping him when I had stuff ready for review and I hadn't quite gotten to it yet. I should have some time to spend in the next couple of days.

Is there a particular bug fix or feature you'd been hoping to get merged, @qmhoang?

[2020-03-27 22:29] iameli commented on #123
The way [vm2](https://github.com/patriksimek/vm2) handles this is with Proxies — I don't know all the details but this apparently allows them to muck around around with the internals enough to get `instanceof` and everything functioning properly.

[2020-03-29 15:01] RamIdeas commented on #127
Why was this closed?

I have a deployed worker proxying files from s3 -- but s3 doesn't seem to set the Content-Type header for SVG files correctly, so I manually set the header on the response and it works fine

Just got my worker running locally with this project and ran into this `TypeError: Can't modify immutable headers` error...

Edit: turns out s3 now sends the correct content-type so this

[2020-03-31 15:18] qmhoang commented on #145
@iameli I was hoping for either #122 or #130 to get merged.  We're using Workers and Workers KV heavily at Optimizely and I was hoping for a library that could be used for local dev (as well as local e2e testing).

[2020-04-25 22:22] coreybutler commented on #120
Pretty sure these are available: https://github.com/dollarshaveclub/cloudworker/blob/master/lib/runtime.js#L11-L14

[2020-05-03 21:39] grakic commented on #138
Thanks to [@defjosiah](https://github.com/cloudflare/wrangler/issues/1047#issuecomment-610074742) I have a bit more complete HTMLRewriter shim: https://gist.github.com/grakic/b25d54f27223154023cfb3042ab66d41

Use locally with webpack.dev.js as:
[code]

There are differences like in how it handles `<div>Hello<p>World</p>Extra<br></div>` but it is similar enough that it helped me debug a few issues

[2020-05-04 01:34] defjosiah commented on #138
@grakic that looks great! Thanks for extending it. Will replace our mock with that 😄

[2020-06-17 22:47] mjhaller opened #150 "Default redirect = follow which is not the same as Cloudflare's runtime"
With a local cloudworker instance, the default value of `redirect` is  `"follow"`:
[code]

[code]
With Cloudflare's runtime it is `manual`

<img width="1240" alt="image" src="https://user-images.githubusercontent.com/1828935/84957601-2db16a80-b0c1-11ea-9af7-833d3f9fce7a.png">

It is clear from the docs - https://developers.cloudflare.com/workers/reference/apis/request/ that this should be `manual`

[2020-07-13 14:40] #120 closed

[2020-08-20 06:24] maple3142 opened #153 "FormData doesn't exist"
[code]

This script runs in CloudFlare workers normally, but not in CloudWorker.

But it can be solved by using `bindings`:
[code]

[2020-08-26 14:15] cdloh opened #154 "node-fetch resolves the location header instead of leaving it as is"
Tried to create an issue on the other repo but cannot.

Within node-fetch if the fetch operation returns a redirect node-fetch resolves the URL which means relative URLs aren't left as is. This is different from what the fetch API does within CF (and all browsers).

[code]

It should be left as is.

[2020-09-10 15:43] philmetzger opened #156 "TypeError: Cannot read property 'transform' of undefined"
I am trying to create a simple test to read from a url and then check a few things.

[code]

However when i run the test I get this:
[code]

Any ideas?

[2020-09-10 18:14] #156 closed, assigned to nobody

[2020-11-30 22:05] xbaha commented on #127
i have the same problem, did you find a solution? I need to set content-type

[2020-11-30 22:10] RamIdeas commented on #127
The solution is just to clone the response/headers and then modify the headers as you wish

But when running on cloudflare, cloning will be a waste

[2020-12-07 02:51] Cherry commented on #138
I'm going to go ahead and close this. Cloudflare's `wrangler dev` has taken over all of our dev use-cases and needs.

[2020-12-07 02:51] #138 closed

[2021-01-31 09:41] nikhils4 commented on #72
The solution to this problem is, if during npm modules installation, the process searches for some directory, let it finish do not interrupt the process. It will complete eventually.

[2021-03-22 03:55] qwtel commented on #138
In case someone's still looking for a HTMLRewriter polyfill, here is another one: https://github.com/worker-tools/parsed-html-rewriter

[2021-04-18 19:10] madruga8 opened #159 "I could not make the "debugger" command on the code to work. is this possible on VSCODE ?"
I could not make the "debugger" command on the code to work. is this possible on VSCODE ?

[2021-04-28 01:21] #159 closed, assigned to nobody

[2021-08-30 11:36] EricxStone opened #164 "Add support to Cloudflare Worker scheduled event"
# Background

Cloudflare has added the support of their worker to be triggered by scheduled event. These workers are triggered on the cron schedule setup on Cloudflare Worker dashboard. They are implemented with an event listener to `scheduled` event instead of `fetch` in traditional worker. This causes the test with Cloudworker impossible.

# Enhancement

Add the support of `scheduled` event to C